In [ ]:
!pip install tqdm

In [77]:
import pandas as pd 
import numpy as np
from scipy import stats
from scipy.stats import ranksums
from tqdm import tqdm
np.random.seed(12345678)
filename = 'AMI_GSE66360_series_matrix.csv'

100%|██████████| 1000000/1000000 [00:00<00:00, 3096311.64it/s]

In [66]:


labels = pd.read_csv(filename,skiprows=58,nrows=1).to_numpy()
data = pd.read_csv(filename,skiprows=60) 
print(data.shape)
print(labels)
data.head()
#a.1 - 54674 genes are profiled
#a.2 - 99 samples total
#a.3 - 2 classes, Healthy - Myocradial

(54675, 100)
[['Class' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'M' 'M' 'M'
  'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M'
  'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H'
  'H' 'H' 'H' 'H' 'H' 'H' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M'
  'M' 'M' 'M' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'H' 'M' 'M'
  'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M']]

'Class'

In [6]:
unique, counts = np.unique(labels, return_counts=True)
dict(zip(unique, counts))
#a.3 - 50 H , 49 - M

{'Class': 1, 'H': 50, 'M': 49}

In [7]:
data.dropna().shape
#a.4 - 54628

(54628, 100)

In [9]:
#a.5
data_np = data.dropna().to_numpy()
#print(data_np.shape)
results = pd.read_csv(filename,skiprows=58,nrows=1).to_numpy()
rand_genes_idx = np.random.randint(low=0,high=data_np.shape[0]-1, size=20)
#print(rand_idx)

B.1 - 2450

In [10]:
x = ((99+1)/2 * 49)
print(x)

2450.0

B.2 - maximal value is the sum of 51 to 99 where the gene represent H/M solely, meaning: 3675

In [40]:
sum = 0
for i in range(51,100):
    sum += i
print(sum)

3675

B.3 - under the null model, we equal probability for every configuration, and 49 samples that contain M, we need to choose 49 from 99 samples, meaning $P[RS(g))=c] = \dfrac{1}{{99 \choose 49}}$

B.4

$P[RS(g))=c-1] = \dfrac{1}{{99 \choose 49}}$ it has the same probability as B.3 since having the rank lowered by 1 meaning we swapped 2 ranks, the 51th and the 50th, so there is only one option, and we have the same as B.3
 
 $P[RS(g))=c-2] = \dfrac{1}{{99 \choose 49}} + \dfrac{1}{{99 \choose 49}}$ we have two permutations that can yield a c-2 result, is by switching 51th rank with 49th or switchin 50th rank with 52th rank.

In [117]:
data.head()

,ID_REF,GSM1620819,GSM1620820,GSM1620821,GSM1620822,GSM1620823,GSM1620824,GSM1620825,GSM1620826,GSM1620827,...,GSM1620908,GSM1620909,GSM1620910,GSM1620911,GSM1620912,GSM1620913,GSM1620914,GSM1620915,GSM1620916,GSM1620917
0,1007_s_at,5.866378,4.948736,5.148384,5.064419,5.017833,5.116154,5.431328,5.235271,5.773528,...,5.419482,5.057716,5.996493,5.343133,5.558892,6.472517,5.678816,5.653286,6.013841,5.465334
1,1053_at,8.225790,7.525865,7.764637,7.198461,7.831450,7.203592,7.694551,7.760259,8.279814,...,7.226348,7.105538,5.354105,8.271500,5.963346,8.261422,6.925753,7.918424,7.442701,9.225221
2,117_at,6.179732,6.628137,5.859151,5.974135,6.793079,6.435229,6.320546,6.483590,6.387779,...,6.789501,7.441940,7.026929,6.003973,7.474326,6.367759,6.835756,7.577035,7.147417,6.481128
3,121_at,6.179478,6.582889,6.602135,6.545905,5.911542,6.285420,6.562316,6.345888,6.272806,...,6.513437,6.317523,7.413453,6.809103,5.949091,6.440978,6.955883,6.499215,6.587065,6.897591
4,1255_g_at,2.792048,2.695714,2.580181,2.712124,2.723687,2.706684,2.674747,2.635150,2.696649,...,2.924658,2.714103,3.635945,2.710944,2.979381,3.730139,2.914868,3.013901,2.729320,3.151449

### Question C

we'll find all the genes with one-sided wrs and ttest below 0.07
For these genes we'll decide whether they are over or under expressed in M label samples according to the sum of their rank. Low rank == underexpresed, high rank == overexpressed
Their number will just be lower than , then simple using ttest and wrs directly should be ok because they will be ranked up at the list when we sort it in an asc order.

In [131]:

labels_boolean = []
# Skipping the first item which is just class keyword
for l in labels[0][1:]:
    if l =='H':
        labels_boolean.append(False)
    else:
        labels_boolean.append(True)


# print(labels_boolean)
# print(np.bitwise_not(labels_boolean))

ttest_underexpressed = []
wrs_underexpressed = [] 

for gene in tqdm(range(data.shape[0])):
#   Testing underexpressed
    M_labels = data.iloc[gene,1:][labels_boolean]
    H_labels = data.iloc[gene,1:][np.bitwise_not(labels_boolean)]
    one_sided_ttest = stats.ttest_ind(M_labels,H_labels)[1] /2 
    one_sided_wrs = ranksums(M_labels,H_labels)[1] /2 

    over_under = list(zip(data.iloc[gene,1:], labels_boolean))
    over_under.sort(key = lambda x: x[0])
    expression_level = 0
    for i in range(len(over_under)):
        if over_under[i][1]:
            expression_level += i
            
    if one_sided_ttest < 0.07:
        ttest_underexpressed.append({'gene_index': gene,'gene_name':  data.iloc[gene,0], 'ttest_value': one_sided_ttest, 'expression_level': expression_level})
    if one_sided_wrs < 0.07:
        wrs_underexpressed.append({'gene_index': gene,'gene_name':  data.iloc[gene,0], 'wrs_value': one_sided_wrs, 'expression_level': expression_level})

100%|██████████| 54675/54675 [01:34<00:00, 579.07it/s]

In [150]:
over_expressed_genes_ttest = 0
for res in ttest_underexpressed:
    if res['expression_level'] > 2525:
        over_expressed_genes_ttest += 1

print('number of over expressed genes in ttest: ', over_expressed_genes_ttest)
print('number of under expressed genes in ttest: ', len(ttest_underexpressed) - over_expressed_genes_ttest)
print('================')        
over_expressed_genes_wrs = 0
for res in wrs_underexpressed:
    if res['expression_level'] > 2525:
        over_expressed_genes_wrs += 1

print('number of over expressed genes in wrs: ',over_expressed_genes_wrs)
print('number of under expressed genes in wrs: ',len(wrs_underexpressed) - over_expressed_genes_wrs)

number of over expressed genes in ttest:  8430
number of under expressed genes in ttest:  8726
================
number of over expressed genes in wrs:  10800
number of under expressed genes in wrs:  10675

### Question D

##### 1

In [148]:
wrs_underexpressed.sort(key = lambda x: x['expression_level'])

In [192]:
under_80_expressed = wrs_underexpressed[:80]
over_80_expressed = wrs_underexpressed[-80:]
wrs_160 = under_80_expressed + over_80_expressed
indices = [d['gene_index'] for d in wrs_160]
coorelations = data.iloc[indices].drop(columns=['ID_REF']).T.corr(method='kendall')
coorelations

,35679,43345,16424,52707,28089,29428,54556,16437,35143,42227,...,49352,50528,13021,26489,13334,13335,53304,14069,25540,18284
35679,1.000000,0.322614,0.437229,0.397650,0.454958,0.342816,0.440528,0.384948,0.464853,0.302000,...,-0.310245,-0.372913,-0.367965,-0.274789,-0.275613,-0.349825,-0.387343,-0.489177,-0.495362,-0.425273
43345,0.322614,1.000000,0.459905,0.497835,0.485879,0.357246,0.482993,0.424536,0.358895,0.521748,...,-0.231499,-0.192744,-0.155638,-0.243867,-0.280973,-0.293342,-0.339930,-0.311482,-0.328386,-0.291280
16424,0.437229,0.459905,1.000000,0.539889,0.645022,0.415791,0.614925,0.581237,0.489177,0.398062,...,-0.233972,-0.283447,-0.248815,-0.263657,-0.267780,-0.300763,-0.351474,-0.458256,-0.452072,-0.324263
52707,0.397650,0.497835,0.539889,1.000000,0.612863,0.453721,0.601732,0.483918,0.504020,0.444238,...,-0.252113,-0.229025,-0.225727,-0.253762,-0.272727,-0.313131,-0.386106,-0.421150,-0.437229,-0.330035
28089,0.454958,0.485879,0.645022,0.612863,1.000000,0.400536,0.910534,0.554433,0.569573,0.464440,...,-0.259122,-0.292105,-0.246753,-0.260771,-0.271490,-0.309421,-0.328798,-0.462791,-0.455782,-0.311482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13335,-0.349825,-0.293342,-0.300763,-0.313131,-0.309421,-0.373737,-0.301587,-0.318969,-0.317666,-0.365079,...,0.460730,0.448361,0.447537,0.492888,0.783137,1.000000,0.531231,0.392290,0.386931,0.408369
53304,-0.387343,-0.339930,-0.351474,-0.386106,-0.328798,-0.347763,-0.319316,-0.305361,-0.419501,-0.329210,...,0.576582,0.460317,0.562564,0.534529,0.522160,0.531231,1.000000,0.457019,0.448361,0.433519
14069,-0.489177,-0.311482,-0.458256,-0.421150,-0.462791,-0.321789,-0.421150,-0.462474,-0.369615,-0.312307,...,0.400536,0.450010,0.554731,0.442589,0.373325,0.392290,0.457019,1.000000,0.851165,0.617811
25540,-0.495362,-0.328386,-0.452072,-0.437229,-0.455782,-0.356009,-0.425685,-0.439794,-0.368378,-0.338281,...,0.450423,0.484230,0.555968,0.466089,0.386106,0.386931,0.448361,0.851165,1.000000,0.664399
18284,-0.425273,-0.291280,-0.324263,-0.330035,-0.311482,-0.307359,-0.282210,-0.335052,-0.343640,-0.314368,...,0.457019,0.489177,0.584003,0.475984,0.419913,0.408369,0.433519,0.617811,0.664399,1.000000

##### 2

under null value model wheere the genee should be independent of each other then expected value for kendell correlation is 0