In [6]:
import pandas as pd 
import numpy as np
filename = 'AMI_GSE66360_series_matrix.csv'

In [33]:
labels = pd.read_csv(filename,skiprows=58,nrows=1).to_numpy()
data = pd.read_csv(filename,skiprows=60) 
print(data.shape)
data.head()

#a.1 - 54674 genes are profiled
#a.2 - 99 samples total
#a.3 - 2 classes, Healthy - Myocradial

(54675, 100)

,ID_REF,GSM1620819,GSM1620820,GSM1620821,GSM1620822,GSM1620823,GSM1620824,GSM1620825,GSM1620826,GSM1620827,...,GSM1620908,GSM1620909,GSM1620910,GSM1620911,GSM1620912,GSM1620913,GSM1620914,GSM1620915,GSM1620916,GSM1620917
0,1007_s_at,5.866378,4.948736,5.148384,5.064419,5.017833,5.116154,5.431328,5.235271,5.773528,...,5.419482,5.057716,5.996493,5.343133,5.558892,6.472517,5.678816,5.653286,6.013841,5.465334
1,1053_at,8.225790,7.525865,7.764637,7.198461,7.831450,7.203592,7.694551,7.760259,8.279814,...,7.226348,7.105538,5.354105,8.271500,5.963346,8.261422,6.925753,7.918424,7.442701,9.225221
2,117_at,6.179732,6.628137,5.859151,5.974135,6.793079,6.435229,6.320546,6.483590,6.387779,...,6.789501,7.441940,7.026929,6.003973,7.474326,6.367759,6.835756,7.577035,7.147417,6.481128
3,121_at,6.179478,6.582889,6.602135,6.545905,5.911542,6.285420,6.562316,6.345888,6.272806,...,6.513437,6.317523,7.413453,6.809103,5.949091,6.440978,6.955883,6.499215,6.587065,6.897591
4,1255_g_at,2.792048,2.695714,2.580181,2.712124,2.723687,2.706684,2.674747,2.635150,2.696649,...,2.924658,2.714103,3.635945,2.710944,2.979381,3.730139,2.914868,3.013901,2.729320,3.151449

In [23]:
unique, counts = np.unique(labels, return_counts=True)
dict(zip(unique, counts))
#a.3 - 50 H , 49 - M

{'Class': 1, 'H': 50, 'M': 49}

In [24]:
data.dropna().shape
#a.4 - 54628

(54628, 100)

In [25]:
#a.5
data_np = data.dropna().to_numpy()
#print(data_np.shape)
results = pd.read_csv(filename,skiprows=58,nrows=1).to_numpy()
rand_genes_idx = np.random.randint(low=0,high=data_np.shape[0]-1, size=20)
#print(rand_idx)

(54628, 100)

NameError: name 'rand_idx' is not defined

B.1 - 2450

In [43]:
x = ((99+1)/2 * 49)
print(x)

2450.0

B.2 - maximal value is the sum of 51 to 99 where the gene represent H/M solely, meaning: 3675

In [40]:
sum = 0
for i in range(51,100):
    sum += i
print(sum)

3675

B.3 - under the null model, we equal probability for every configuration, and 49 samples that contain M, we need to choose 49 from 99 samples, meaning $P[RS(g))=c] = \dfrac{1}{{99 \choose 49}}$

B.4

$P[RS(g))=c-1] = \dfrac{1}{{99 \choose 49}}$ it has the same probability as B.3 since having the rank lowered by 1 meaning we swapped 2 ranks, the 51th and the 50th, so there is only one option, and we have the same as B.3
 
 $P[RS(g))=c-2] = \dfrac{1}{{99 \choose 49}} + \dfrac{1}{{99 \choose 49}}$ we have two permutations that can yield a c-2 result, is by switching 51th rank with 49th or switchin 50th rank with 52th rank.